<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidphpmysql">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SMYLE ASSISTANT"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".AdminLoginActivity"></activity>
        <activity android:name=".CompleteRegistrationActivity" />
        <activity android:name=".AdminScreeningActivity"
            android:parentActivityName=".AdminSwitchboardActivity"/>
        <activity android:name=".BarChartActivity"
            android:parentActivityName=".AdminSwitchboardActivity"/>
        <activity android:name=".AdminWaitingRoomActivity"
            android:parentActivityName=".AdminSwitchboardActivity"/>
        <activity android:name=".WaitingRoomActivity"
            android:parentActivityName=".ProfileActivity"/>
        <activity android:name=".PatientScreeningActivity" />
        <activity
            android:name=".AppointmentHistoryActivity"
            android:parentActivityName=".AppointmentMainActivity" />
        <activity android:name=".AdminSwitchboardActivity" />
        <activity
            android:name=".AppointmentMainActivity"
            android:parentActivityName=".AdminSwitchboardActivity" />
        <activity
            android:name=".CreateAppointmentActivity"
            android:parentActivityName=".AppointmentMainActivity" />
        <activity
            android:name=".SelectedMedicalActivity"
            android:parentActivityName=".PatientMedicalActivity" />
        <activity
            android:name=".PatientMedicalActivity"
            android:parentActivityName=".AdminActivity" />
        <activity
            android:name=".AdminActivity"
            android:parentActivityName=".AdminSwitchboardActivity" />
        <activity android:name=".UpdateMedical" />
        <activity android:name=".medicalActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>