<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidphpmysql">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Smyle Assistant"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".AdminSwitchboardActivity"></activity>
        <activity android:name=".AppointmentMainActivity" />
        <activity android:name=".CreateAppointmentActivity" />
        <activity
            android:name=".SelectedMedicalActivity"
            android:parentActivityName=".PatientMedicalActivity" />
        <activity
            android:name=".PatientMedicalActivity"
            android:parentActivityName=".AdminActivity" />
        <activity android:name=".AdminActivity" />
        <activity android:name=".UpdateMedical" />
        <activity android:name=".medicalActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>